<body>
  <div class="container">
    <div class="content" fxLayout="column" fxLayoutAlign="center start">
      <div class="title">
        <p>AI ScanCovid</p>

        <div class="title1">
          <p>the next generation of medical imaging technology</p>
        </div>
      </div>
      <div fxLayout="column">
        <div style="height: 25px"></div>
        <p class="intete">
          Experience matchedless accuracy in diagnosis and treatment with our
          latest medical imaging technology. Embrace the future of investment
          with our AI-powered platform for advanced medical imaging.
        </p>
        <div style="height: 25px"></div>

        <div class="links">
          <button routerLink="/auth/login" class="button-27" role="button">
            Login
          </button>
          <div style="width: 50px"></div>
          <button routerLink="/auth/register" class="button-27" role="button">
            Register
          </button>
        </div>
      </div>
    </div>
    <div class="box">
      <img class="img" src="../../assets/Mammography-amico.png" alt="" />
    </div>
  </div>
</body>
